DirectoryIndex Presentation.php

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# Pas de WWW
RewriteCond %{HTTP_HOST} ^www.lachal.neamar.fr$
RewriteRule ^(.*) https://lachal.neamar.fr/$1 [QSA,L,R=301]




#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

RewriteRule ^Histoire\.php$  /Exp.php?Histoire=1 [L]
RewriteRule ^Expressions\.php$  /Exp.php?Expressions=1 [L]
RewriteRule ^expressions\.php$  /Exp.php?Expressions=1 [L]
RewriteRule ^Categorie::(.+)$  /index.php?Categorie=$1 [L]
RewriteRule ^AuRevoir-5([0-9])$  /AuRevoir.php?P-5$1 [L]

RewriteRule ^Defi-([0-9]{1,2})-(.+)$  /Defi.php?ShowOnly=$1&R [L]
RewriteRule ^Defi-([0-9]{1,2})$  /Defi.php?ShowOnly=$1 [L]
RewriteRule ^Histoire_Expressions\.php$  /Exp.php?Expressions=1&Histoire=1 [L]
RewriteRule ^([0-9]{1,2})-  /Exp.php?ShowOnly=$1&Titre=histoire [L]
RewriteRule ^Hist-([0-9]{1,2})$  /Exp.php?ShowOnly=$1 [L]
RewriteRule ^([a-zA-Z])$  /index.php?ShowOnlyLetter=$1 [L]
RewriteRule ^([-a-zA-Z0-9&;%ûüîïéèêô,_]+)$  /AffiMot.php?ShowOnly=$1 [L]

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
  Header set Cache-Control "max-age=604800, public"
</FilesMatch>
